@use '../../styles/mixins.scss' as mixins;
@use '../../styles/palette.scss' as *;

.textAreaWrapper {
  width: 100%;
  @include mixins.flex-column;
  align-items: flex-start;
  gap: 8px;
}

.textAreaLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.textAreaField {
  min-height: 84px;
  max-height: 300px;
  width: 100%;
  border: 1px solid $text-field-border;
  border-radius: 4px;
  background-color: $text-field-background-prim;
  padding: 12px;
  @include mixins.any-field-font-style-preset;
  resize: vertical;
  &::placeholder {
    color: $text-field-placeholder;
    font-family: SB Sans Interface;
  }
  &:focus {
    outline: none;
  }
  &.invalid {
    border: 2px solid rgb(255, 0, 0);
  }
}

.errorText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: red;
}

.textAreaTip {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $text-field-placeholder;
}