@use '../../styles/mixins.scss' as mixins;
@use '../../styles/palette.scss' as *;

.selectWrapper {
  width: 100%;
  @include mixins.flex-column;
  align-items: flex-start;
  gap: 8px;
}

.selectLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.selectFieldWrapper {
  width: 100%;
  position: relative;
}

.selectFieldWrapper:after {
  content: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.353553 2.05848C0.158291 1.86321 0.158291 1.54663 0.353553 1.35137L1.05683 0.64809C1.25194 0.452978 1.56823 0.452806 1.76355 0.647705L5.64683 4.52252C5.84201 4.71727 6.15799 4.71727 6.35317 4.52252L10.2364 0.647705C10.4318 0.452806 10.7481 0.452979 10.9432 0.64809L11.6464 1.35137C11.8417 1.54663 11.8417 1.86321 11.6464 2.05848L6.35355 7.35137C6.15829 7.54663 5.84171 7.54663 5.64645 7.35137L0.353553 2.05848Z' fill='black' fill-opacity='0.24'/></svg>");
  right: 11px;
  top: 12px;
  position: absolute;
  pointer-events: none;
}

.selectField {
  -webkit-appearance: none;
  appearance: none;
  height: 44px;
  width: 100%;
  border: 1px solid $text-field-border;
  border-radius: 4px;
  background-color: $text-field-background-prim;
  padding: 12px;
  @include mixins.any-field-font-style-preset;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &.invalid {
    border: 2px solid rgb(255, 0, 0);
  }
  & option {
    height: 60px;
  }
}

.selectArrow {
  z-index: 2;
  position: absolute;
  right: 16px;
  top: 19.3px;
  cursor: pointer;
}

.errorText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: red;
}
