@use '../../../shared/styles/mixins.scss' as mixins;

.stepOneForm {
  width: 100%;
  @include mixins.flex-column;
  gap: 30px;
}

.allFields {
  width: 100%;
  @include mixins.flex-column;
  align-items: flex-start;
  gap: 30px;
}

.formButtons {
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  margin-top: 58px;
}

@media screen and (min-width: 400px) {
  .allFields {
    max-width: 300px;
  }
}