$app-background: #f4f4Ff;

$form-background: #fff;

$avatar-background: #d5e4f7;
$avatar-initials-text: #212830;

$text-field-background-alt: rgba(0, 0, 0, 0.04);
$text-field-background-prim: #fff;
$text-field-border: rgba(0, 0, 0, 0.16);
$text-field-placeholder: rgba(0, 0, 0, 0.48);

$checkbox-border: rgba(0, 0, 0, 0.24);

$progress-bar-unfilled: rgba(0, 0, 0, 0.08);
$progress-bar-empty-step: #A6A6A6;
$progress-bar-step-number: #666666;

$text-main: #333333;

$theme-purple: #5558FA;

$divide-line: rgba(0, 0, 0, 0.08);

$modal-background: rgba(0, 0, 0, 0.16);


