@use '../../../shared/styles/mixins.scss' as mixins;
@use '../../../shared/styles/palette.scss' as *;

.userInfo {
  @include mixins.flex-row;
  align-items: center;
  gap: 24px;
}

.nameAndLinks {
  @include mixins.flex-column;
  gap: 12px;
  & h3 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 26px;
    color: $text-main;
  }
}

.links {
  @include mixins.flex-row;
  gap: 17.6px;
}

